<div class="row justify-content-center md-3">
    <div class="col-md-4 text-center">
        <h1>TODO CATEGORIES</h1>
        <p class="text-info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut saepe quidem sunt. 
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form action="" class="form-inline">           
            <div class="col-md-10 form-group">
                <input type="text" placeholder="Add new categories here" name="categoryName" class="form-control-plaintext drop-shadow">
            </div>
                <button type="submit" class="btn btn-primary col-md-2 btn-todo btn-block drop-shadow">Add</button>
        </form>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <i class="fas fa-filter fa-2x"></i>
    </div>
</div>

<div class="row justify-content-center" *ngIf="showFirstDropdown">
    <div class="col-md-6">
        <ng-select [items]="firstItems"
                   bindLabel="name"
                   placeholder="Select an item"
                   [(ngModel)]="selectedFirstItem"
                   (change)="onFirstSelect($event)">
        </ng-select>
    </div>
</div>

<!-- Second Dropdown -->
<div class="row justify-content-center" *ngIf="showSecondDropdown">
    <div class="col-md-6">
        <ng-select [items]="secondItems"
                   bindLabel="name"
                   placeholder="Select another item"
                   [(ngModel)]="selectedSecondItem"
                   [searchable]="true"
                   (change)="onSecondSelect($event)">
        </ng-select>
    </div>
</div>

<!-- Chip -->
<div class="row justify-content-center" *ngIf="chipText">
    <div class="col-md-6 text-center">
        <span class="badge badge-primary">{{ chipText }}</span>
    </div>
</div>


<div class="row categories-list">
    <div class="col-md-3">
        <div class="card drop-shadow">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <div class="badge badge-primary"> GATEGORY </div>
                    </div>
                    <div class="float-right cat-tools">
                        <small><i class="fa fa-pencil-alt text-success"></i></small>
                        <small><i class="fas fa-trash text-danger"></i></small>
                    </div>
                </div>
                <div class="todo-content">
                    <h3>Category</h3>
                    <small class="text-secondary">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        
                    </small>
                </div>
                <span class="badge badge-danger">3 - Todos</span>
            </div>
        </div>
    </div>
</div>
