/* You can add global styles to this file, and also import other style files */
.drop-shadow{
    -webkit-box-shadow: 0px 0px 18px -6px rgba(191,76,191,0.42);
    -moz-box-shadow: 0px 0px 18px -6px rgba(191,76,191,0.42);
    box-shadow: 0px 0px 18px -6px rgba(191,76,191,0.42);
}

input[type = text] {
    background-color: #fefefe;
    height: 60px;
    padding-left: 20px;
}

.btn-todo{
    height: 60px!important;
    background-color: #e9eeff!important;
    color: #4772fe!important;
    border: none!important;
}